<!DOCTYPE html>
<html>
<head>
  <title>Dictionary to terms</title>
  <%= stylesheet_link_tag    "dictionary_to_terms/application", media: "all" %>
  <%= javascript_include_tag "dictionary_to_terms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
